@using Microsoft.AspNetCore.Components
@inject IJSRuntime JsRuntime;


    <div @ref="_animationContainer">
        @if (ShouldComponentRender)
        {
            @ChildContent
        }
    </div>


@code{

    private ElementReference _animationContainer;
    private string _previousCssAnimationName = null;

    public bool ShouldComponentRender { get; set; } = true;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string CssAnimationName { get; set; } = null;



    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _animationContainer.RegisterForAnimationEnded(JsRuntime, (animationName) =>
            {
                if (CssAnimationName != null && CssAnimationName == animationName)
                {
                    ShouldComponentRender = false;
                    StateHasChanged();
                }
            });
        }
        else
        {
            if (_previousCssAnimationName != CssAnimationName)
            {
                _previousCssAnimationName = CssAnimationName;
                ShouldComponentRender = true;
                StateHasChanged();
            } 

        }

    }

}